/**
 * Admin common styles (used on more than 1 screen).
 */

$mobile_max_width: 768px;

.text-align-center {
    text-align: center;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mt-10 {
    margin-top: 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-m20 {
    margin-top: -20px;
}

.yoast-api-extension-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    flex-direction: column;
    align-items: center;

    hr {
        margin-bottom: 40px;
        margin-top: 10px;
        width: 100%;
    }

    h2, h3, h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .yoast-api-extension-block-heading {
        margin-top: 0;
        margin-bottom: 55px;
        text-align: center;
        font-size: 25px;
    }

    .yoast-api-extension-link {
        cursor: pointer;
        text-decoration: underline;
        user-select: none;

        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            margin-left: 5px;
        }
    }

    h3.yoast-api-extension-block-heading  {
        font-size: 20px;
    }

    .yoast-api-extension-row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        label {
            margin-bottom: 30px;

            span {
                user-select: none;
            }
        }

        &:last-child {
            label {
                margin-bottom: 0;
            }
        }
    }

    .yoast-api-extension-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p.submit {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 5px;
    }

    .button {
        width: auto;
        height: 35px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .yoast-api-extension-checkbox span {
        margin-right: 10px;
        user-select: none;
    }

    .yoast-api-extension-input {
        margin-bottom: 0;

        &.yoast-api-extension-number-input {
            width: 40px;
            text-align: center;
        }
    }

    .yoast-api-extension-hidden {
        display: none;
    }
}

table {
    border-collapse: collapse;
    background: #fff;
    border: 1px solid #dfdfdf;

    tr {
        > * {
            padding: 10px 15px;
            text-align: center;
            border: 1px solid #ccc;
        }
    }

    &.yoast-api-extension-select-table {
        cursor: pointer;
    }

    &.table-ta-left td {
        text-align: left;
    }
}
